﻿<link href="pages/samples/bootstrap.css" rel="stylesheet" />
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" value="test1" id="userInput" /></div>
        <div id="socketConnection"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Connect" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
            <ul id="messagesList"></ul>
        </div>
        <div class="col-4">
            <div id="unzipProgress"></div>
            <div id="pullProgress"></div>
        </div>
        <div class="col-4">
            <strong>Notification Verbose</strong>
            <input type="button" id="resetVerboseButton" value="Reset Verbose" />
            <ul id="verbose"></ul>
        </div>
    </div>
</div>
<script src="js/signalr/signalr.js"></script>
<script src="pages/samples/signalR/clientpoll.js"></script>